.appbar-btn {
  color: rgb(108, 108, 116) !important;
  top: 5px;
}
.appbar-links {
  margin-top: -5px;
}

#main-bar {
  top: 0px !important;
  position: fixed !important;
}

#search-bar {
  top: 0px !important;
  position: fixed !important;
  background-color: rgb(12, 12, 12) !important;
}
